body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.header {
   display: flex;
   background-color: #E0E0E0; /* Light gray */
   padding: 25px;
}

#name {
   color: #333; /* Dark gray */
   font-size: 50px;
   text-align: justify;
}

#job-title {
   font-size: 25px;
   margin-top: 15%;
}

.title-image {
   max-width: 150px;
   height: auto;
   margin-left: 10px;
}

ul {
   list-style: -webkit-gradient();
   padding: 0;
}

ul li {
   position: relative;
   right: 360px;
   top: 230px;
   margin: 10px;
}

.top img {
   position: relative;
   left: 100px;
   text-align: center;
   max-width: 40%;
   padding: 20px;
}

.content {
   display: flex;
   padding: 20px;
}

img {
   max-width: 41%;
   height: auto;
   border-radius: 50%;
}

.about-me {
   flex: 1;
   padding: 20px;
}

h2 {
   font-size: 24px;
   color: #0D98FF; /* Bright blue */
}

.footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 20px;
}

.services {
   display: flex;
   justify-content: space around;
}

.service {
   text-align: center;
}

.service img {
   max-width: 50px;
   height: auto;
}

.service h3 {
   font-size: 18px;
   color: #FF5E00; /* Orange */
}

.service p {
   font-size: 14px;
   color: #333; /* Dark gray */
}
